    /*
    Flaticon icon font: Flaticon
    Creation date: 28/04/2020 07:07
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-product:before { content: "\f100"; }
.flaticon-goods:before { content: "\f101"; }
.flaticon-return:before { content: "\f102"; }
.flaticon-storage:before { content: "\f103"; }
.flaticon-decision:before { content: "\f104"; }
.flaticon-import:before { content: "\f105"; }
.flaticon-track:before { content: "\f106"; }
.flaticon-order:before { content: "\f107"; }
.flaticon-report:before { content: "\f108"; }
.flaticon-bullhorn:before { content: "\f109"; }
.flaticon-campaign:before { content: "\f10a"; }
.flaticon-product-1:before { content: "\f10b"; }
.flaticon-list:before { content: "\f10c"; }
.flaticon-checklist:before { content: "\f10d"; }
.flaticon-cogwheel:before { content: "\f10e"; }
.flaticon-work:before { content: "\f10f"; }
.flaticon-seo:before { content: "\f110"; }
.flaticon-box:before { content: "\f111"; }
.flaticon-truck:before { content: "\f112"; }
.flaticon-truck-1:before { content: "\f113"; }
.flaticon-icon-664468:before { content: "\f114"; }
.flaticon-social-media:before { content: "\f115"; }
.flaticon-new:before { content: "\f116"; }
.flaticon-implement:before { content: "\f117"; }
.flaticon-warning:before { content: "\f118"; }
    
    $font-Flaticon-product: "\f100";
    $font-Flaticon-goods: "\f101";
    $font-Flaticon-return: "\f102";
    $font-Flaticon-storage: "\f103";
    $font-Flaticon-decision: "\f104";
    $font-Flaticon-import: "\f105";
    $font-Flaticon-track: "\f106";
    $font-Flaticon-order: "\f107";
    $font-Flaticon-report: "\f108";
    $font-Flaticon-bullhorn: "\f109";
    $font-Flaticon-campaign: "\f10a";
    $font-Flaticon-product-1: "\f10b";
    $font-Flaticon-list: "\f10c";
    $font-Flaticon-checklist: "\f10d";
    $font-Flaticon-cogwheel: "\f10e";
    $font-Flaticon-work: "\f10f";
    $font-Flaticon-seo: "\f110";
    $font-Flaticon-box: "\f111";
    $font-Flaticon-truck: "\f112";
    $font-Flaticon-truck-1: "\f113";
    $font-Flaticon-icon-664468: "\f114";
    $font-Flaticon-social-media: "\f115";
    $font-Flaticon-new: "\f116";
    $font-Flaticon-implement: "\f117";
    $font-Flaticon-warning: "\f118";