    /*
    Flaticon icon font: Flaticon
    Creation date: 15/01/2019 10:31
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-report:before { content: "\f100"; }
.flaticon-002-analysis:before { content: "\f101"; }
.flaticon-003-analysis-1:before { content: "\f102"; }
.flaticon-004-report-1:before { content: "\f103"; }
.flaticon-005-report-2:before { content: "\f104"; }
.flaticon-006-report-3:before { content: "\f105"; }
.flaticon-007-report-4:before { content: "\f106"; }
.flaticon-008-report-5:before { content: "\f107"; }
.flaticon-009-report-6:before { content: "\f108"; }
.flaticon-010-report-7:before { content: "\f109"; }
.flaticon-011-report-8:before { content: "\f10a"; }
.flaticon-012-report-9:before { content: "\f10b"; }
.flaticon-013-report-10:before { content: "\f10c"; }
.flaticon-014-report-11:before { content: "\f10d"; }
.flaticon-015-report-12:before { content: "\f10e"; }
.flaticon-016-report-13:before { content: "\f10f"; }
.flaticon-017-resume:before { content: "\f110"; }
.flaticon-018-resume-1:before { content: "\f111"; }
.flaticon-019-news:before { content: "\f112"; }
.flaticon-020-report-14:before { content: "\f113"; }
.flaticon-021-report-15:before { content: "\f114"; }
.flaticon-022-resume-2:before { content: "\f115"; }
.flaticon-023-resume-3:before { content: "\f116"; }
.flaticon-024-resume-4:before { content: "\f117"; }
.flaticon-025-encrpyted-file:before { content: "\f118"; }
    
    $font-Flaticon-001-report: "\f100";
    $font-Flaticon-002-analysis: "\f101";
    $font-Flaticon-003-analysis-1: "\f102";
    $font-Flaticon-004-report-1: "\f103";
    $font-Flaticon-005-report-2: "\f104";
    $font-Flaticon-006-report-3: "\f105";
    $font-Flaticon-007-report-4: "\f106";
    $font-Flaticon-008-report-5: "\f107";
    $font-Flaticon-009-report-6: "\f108";
    $font-Flaticon-010-report-7: "\f109";
    $font-Flaticon-011-report-8: "\f10a";
    $font-Flaticon-012-report-9: "\f10b";
    $font-Flaticon-013-report-10: "\f10c";
    $font-Flaticon-014-report-11: "\f10d";
    $font-Flaticon-015-report-12: "\f10e";
    $font-Flaticon-016-report-13: "\f10f";
    $font-Flaticon-017-resume: "\f110";
    $font-Flaticon-018-resume-1: "\f111";
    $font-Flaticon-019-news: "\f112";
    $font-Flaticon-020-report-14: "\f113";
    $font-Flaticon-021-report-15: "\f114";
    $font-Flaticon-022-resume-2: "\f115";
    $font-Flaticon-023-resume-3: "\f116";
    $font-Flaticon-024-resume-4: "\f117";
    $font-Flaticon-025-encrpyted-file: "\f118";