    /*
    Flaticon icon font: Flaticon
    Creation date: 30/05/2018 08:21
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-online-shop-2:before { content: "\f100"; }
.flaticon-002-phone:before { content: "\f101"; }
.flaticon-003-atm:before { content: "\f102"; }
.flaticon-004-bag-2:before { content: "\f103"; }
.flaticon-005-discount-1:before { content: "\f104"; }
.flaticon-006-location:before { content: "\f105"; }
.flaticon-007-warehouse:before { content: "\f106"; }
.flaticon-008-business:before { content: "\f107"; }
.flaticon-009-online-payment:before { content: "\f108"; }
.flaticon-010-cryptocurrency:before { content: "\f109"; }
.flaticon-011-planet:before { content: "\f10a"; }
.flaticon-012-hand-1:before { content: "\f10b"; }
.flaticon-013-online-shop-1:before { content: "\f10c"; }
.flaticon-014-shopping-list:before { content: "\f10d"; }
.flaticon-015-card-payment:before { content: "\f10e"; }
.flaticon-016-review:before { content: "\f10f"; }
.flaticon-017-shop-1:before { content: "\f110"; }
.flaticon-018-courier:before { content: "\f111"; }
.flaticon-019-insurance:before { content: "\f112"; }
.flaticon-020-boxes:before { content: "\f113"; }
.flaticon-021-ship:before { content: "\f114"; }
.flaticon-022-purse-1:before { content: "\f115"; }
.flaticon-023-airplane:before { content: "\f116"; }
.flaticon-024-transportation:before { content: "\f117"; }
.flaticon-025-open-box:before { content: "\f118"; }
.flaticon-026-free-delivery:before { content: "\f119"; }
.flaticon-027-pay-per-click:before { content: "\f11a"; }
.flaticon-028-shopping-cart:before { content: "\f11b"; }
.flaticon-029-call-center:before { content: "\f11c"; }
.flaticon-030-manager:before { content: "\f11d"; }
.flaticon-031-hand:before { content: "\f11e"; }
.flaticon-032-box-1:before { content: "\f11f"; }
.flaticon-033-delivery-truck:before { content: "\f120"; }
.flaticon-034-online-shop:before { content: "\f121"; }
.flaticon-035-bag-1:before { content: "\f122"; }
.flaticon-036-purse:before { content: "\f123"; }
.flaticon-037-box:before { content: "\f124"; }
.flaticon-038-cashbox:before { content: "\f125"; }
.flaticon-039-tag:before { content: "\f126"; }
.flaticon-040-locker:before { content: "\f127"; }
.flaticon-041-signboard:before { content: "\f128"; }
.flaticon-042-open:before { content: "\f129"; }
.flaticon-043-guarantee:before { content: "\f12a"; }
.flaticon-044-ticket:before { content: "\f12b"; }
.flaticon-045-discount:before { content: "\f12c"; }
.flaticon-046-basket:before { content: "\f12d"; }
.flaticon-047-bag:before { content: "\f12e"; }
.flaticon-048-coupon:before { content: "\f12f"; }
.flaticon-049-shop:before { content: "\f130"; }
.flaticon-050-shopping-bag:before { content: "\f131"; }
    
    $font-Flaticon-001-online-shop-2: "\f100";
    $font-Flaticon-002-phone: "\f101";
    $font-Flaticon-003-atm: "\f102";
    $font-Flaticon-004-bag-2: "\f103";
    $font-Flaticon-005-discount-1: "\f104";
    $font-Flaticon-006-location: "\f105";
    $font-Flaticon-007-warehouse: "\f106";
    $font-Flaticon-008-business: "\f107";
    $font-Flaticon-009-online-payment: "\f108";
    $font-Flaticon-010-cryptocurrency: "\f109";
    $font-Flaticon-011-planet: "\f10a";
    $font-Flaticon-012-hand-1: "\f10b";
    $font-Flaticon-013-online-shop-1: "\f10c";
    $font-Flaticon-014-shopping-list: "\f10d";
    $font-Flaticon-015-card-payment: "\f10e";
    $font-Flaticon-016-review: "\f10f";
    $font-Flaticon-017-shop-1: "\f110";
    $font-Flaticon-018-courier: "\f111";
    $font-Flaticon-019-insurance: "\f112";
    $font-Flaticon-020-boxes: "\f113";
    $font-Flaticon-021-ship: "\f114";
    $font-Flaticon-022-purse-1: "\f115";
    $font-Flaticon-023-airplane: "\f116";
    $font-Flaticon-024-transportation: "\f117";
    $font-Flaticon-025-open-box: "\f118";
    $font-Flaticon-026-free-delivery: "\f119";
    $font-Flaticon-027-pay-per-click: "\f11a";
    $font-Flaticon-028-shopping-cart: "\f11b";
    $font-Flaticon-029-call-center: "\f11c";
    $font-Flaticon-030-manager: "\f11d";
    $font-Flaticon-031-hand: "\f11e";
    $font-Flaticon-032-box-1: "\f11f";
    $font-Flaticon-033-delivery-truck: "\f120";
    $font-Flaticon-034-online-shop: "\f121";
    $font-Flaticon-035-bag-1: "\f122";
    $font-Flaticon-036-purse: "\f123";
    $font-Flaticon-037-box: "\f124";
    $font-Flaticon-038-cashbox: "\f125";
    $font-Flaticon-039-tag: "\f126";
    $font-Flaticon-040-locker: "\f127";
    $font-Flaticon-041-signboard: "\f128";
    $font-Flaticon-042-open: "\f129";
    $font-Flaticon-043-guarantee: "\f12a";
    $font-Flaticon-044-ticket: "\f12b";
    $font-Flaticon-045-discount: "\f12c";
    $font-Flaticon-046-basket: "\f12d";
    $font-Flaticon-047-bag: "\f12e";
    $font-Flaticon-048-coupon: "\f12f";
    $font-Flaticon-049-shop: "\f130";
    $font-Flaticon-050-shopping-bag: "\f131";