
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_template/_Layout_demo.cshtml";
}
<div ng-app="app" ng-controller="Demo">
    
</div>
<script src="~/scripts/_Libs/core-authenicate.js"></script>
<script src="~/Views/Demo/Scripts/Demo.js"></script>


